

<div class="card card-body">
    <h3>Video Idea</h3>
    <form action="/ideas" method="POST">
    <label for="title">Title</label>
    <div class="form-group">
        <input class="form-control" type="text" name="title" >
    </div>
    <label for="title">Details</label>
     <div class="form-group">
        <input class="form-control" type="text" name="details" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
        
    
    </form>
</div>
